@charset "utf-8";
@import url(reset.css);

/* skip */
#wrap_skip { position:relative; }
#wrap_skip a { z-index:300; position:absolute; top:-1000px; z-index:9999}
#wrap_skip a:focus,
#wrap_skip a:hover,
#wrap_skip a:active { display:block; top:0; left:0; width:100%; height:30px; line-height:30px; text-align:center; color:#fff; background:#3b3b3d }

/* Text-color */
.txt-primary { color: #2699FB !important}


/* text-type */
.t-left { text-align: left !important}
.t-right { text-align: right !important}
.t-center { text-align: center !important}


/* bx_slid */
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus { background: #2997FF !important; }
.bx-wrapper .bx-pager.bx-default-pager a { background: #A7A7A7 !important; width: 16px !important; height: 16px !important; margin: 0 10px !important; -moz-border-radius: 100% !important; -webkit-border-radius: 100% !important; border-radius: 100% !important; }

/* table */
.table-wrap .search-wrap { text-align: right; }
.table-wrap .search-wrap .form-inline > * { display: inline-block; margin-right: 10px; }
.table-wrap .search-wrap .form-inline > *:last-child { margin-right: 0px; }
.table-wrap .search-wrap select,
.table-wrap .search-wrap input { height: 50px; padding: 0 20px; border-radius: 25px; color:#A5A5A5; font-size: 24px; }
.table-wrap .search-wrap select {padding-right: 60px; appearance: none; -webkit-appearance: none; background: url("/images/ico-select.png") no-repeat; background-position: calc( 100% - 15px ) 50%}
.table-wrap .search-wrap select::-ms-expand {display: none; }
.table-wrap .search-wrap .input-wrap { position: relative; }
.table-wrap .search-wrap .input-wrap .btn-search { position: absolute; width: 23px; height: 24px;  right: 15px; top: 50%; margin-top: -12px; background: url(/images/icon-search.png) no-repeat;}

table.table-type-h { border-top: 3px solid #353535; margin-top: 20px; }
table.table-type-h tr > * { position: relative; padding:20px 10px; font-weight: 400; font-size: 24px; text-align: left;}
table.table-type-h tr > *:first-child,
table.table-type-h tr > *:last-child { text-align: center; }
table.table-type-h th { border-bottom: 2px solid #CDCDCD; }
table.table-type-h td { border-bottom: 1px solid #B9B9B9; }
table.table-type-h td a { display: inline-block; position: absolute; line-height: 24px; top:50%; margin-top: -13px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
table.table-type-h td.no-data { padding: 100px 0; color:#B9B9B9 }

table.table-type-v { border-top: 3px solid #353535; border-bottom: 3px solid #353535;}
table.table-type-v th { font-weight: 600; }
table.table-type-v td { border-top: 1px solid #B9B9B9; padding: 20px 0; }


.pager-wrap { margin-top: 30px; }
.pager-wrap ul { display: flex; justify-content: center; }
.pager-wrap ul li { margin: 0 20px; font-size: 20px; color: #707070; }
.pager-wrap ul li.on { border-bottom: 2px solid #707070; color: #000000; font-weight: 800 }
.pager-wrap ul li a { line-height: 40px;}
.pager-wrap ul li a:hover, 
.pager-wrap ul li a:focus,
.pager-wrap ul li a:active { color: #000000; font-weight: 800; }




/* table style list */
.table-style-wrap { border-top: 3px solid #353535; display: table; width: 100%; font-size: 24px; margin-top: 20px;}
.table-style-wrap p.number,
.table-style-wrap span.number,
.table-style-wrap p.name,
.table-style-wrap span.name,
.table-style-wrap p.date,
.table-style-wrap span.date { text-align: center; }
.table-style-wrap+.btn-wrap { margin-top: 20px; text-align: right; }
.table-style-wrap+.btn-wrap button { width: 174px; height: 50px; border: 2px solid #2699FB; border-radius: 25px; font-weight: 600; font-size: 20px; line-height: 43px; color: #2699FB; background: #ffffff; transition: 0.3s; }
.table-style-wrap+.btn-wrap button:hover,
.table-style-wrap+.btn-wrap button:focus,
.table-style-wrap+.btn-wrap button:active { background: #2699FB; color: #ffffff; }
.thead-type span { display: table-cell; padding:20px 10px; font-weight: 800;}
.tbody-type { border-bottom: 1px solid #B9B9B9; }
.tbody-type a { display:flex; border-top: 1px solid #B9B9B9; cursor: pointer;}
.tbody-type a:hover, 
.tbody-type a:focus, 
.tbody-type a:active,
.tbody-type a.on { background: #F2F5F8; } 
.tbody-type a p { display: table-cell; padding:20px 10px; font-weight: 400;}
.tbody-type a p.title { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.tbody-type p.no-data {border-top: 2px solid #CDCDCD; border-bottom: 1px solid #B9B9B9; padding: 100px 0; color:#B9B9B9; text-align: center; }
.tbody-type .detail { position: relative; display: none; overflow: hidden; }
.tbody-type .detail .content-wrap { padding:40px 210px 40px 110px; font-weight: 400; font-size: 20px; line-height: 38px;}
.tbody-type .detail .btn-wrap { position: absolute; top: 40px; right: 20px; }
.tbody-type .detail .btn-wrap .btn-cell { width: 80px; height: 40px; border:1px solid #767676; border-radius: 20px; font-size: 20px; line-height: 40px; color:#555555; transition: 0.3s;}
.tbody-type .detail .btn-wrap .btn-cell:hover,
.tbody-type .detail .btn-wrap .btn-cell:focus,
.tbody-type .detail .btn-wrap .btn-cell:active { background-color:#555555; color:#ffffff; }
.tbody-type .detail .answer-wrap { display: flex; flex-wrap: wrap; width: 1200px; background: #F2F5F8; padding: 30px 40px; }
.tbody-type .detail .answer-wrap .re-title { width: 110px; text-align: center; font-size: 22px;}
.tbody-type .detail .answer-wrap .re-name { font-size: 22px; color:#313131; font-weight: 800;}
.tbody-type .detail .answer-wrap .re-date { margin-left: 20px; color: #727272; font-size: 20px; line-height: 40px;}
.tbody-type .detail .answer-wrap .re-text { font-size: 20px; padding-left: 110px; line-height: 38px;}

.tbody-type .td-type { display: none; overflow: hidden; border-top: 2px dashed #CDCDCD; }
.tbody-type .pass-wrap { background: #F2F5F8; padding:40px 210px 40px 110px; }
.tbody-type .pass-wrap div { margin-top: 20px; }
.tbody-type .pass-wrap input { width: 200px; height: 50px; border-radius: 8px; font-size: 24px; }
.tbody-type .pass-wrap button { margin-left: 20px; border: none; color: #A1A1A1; font-weight: 600;font-size: 22px; }
.tbody-type .td-type .text-sorry { padding: 50px 0; text-align: center;}



/* form */
label { display: block; width: 100%; font-size: 20px; font-weight: 600; color: #000000; line-height: 46px;}
input, select{ height: 72px; padding: 0 20px; border:1px solid #D8D8D8; border-radius: 8px; color:#A5A5A5; font-size: 24px; }
input[type="password"] { letter-spacing: 10px; text-align: center;}
select { padding-right: 60px; appearance: none; -webkit-appearance: none; background: url("/images/ico-select.png") no-repeat; background-position: calc( 100% - 15px ) 50%}
select::-ms-expand {display: none; }

form+.btn-wrap { margin-top: 60px; }
form+.btn-wrap button { display: block; width: 330px; height: 60px; border: 2px solid #2699FB; border-radius: 30px; font-size: 21px; line-height: 43px; color: #2699FB; background: #ffffff; transition: 0.3s; }
form+.btn-wrap button:hover,
form+.btn-wrap button:focus,
form+.btn-wrap button:active { background: #2699FB; color: #ffffff; }

input[type="checkbox"] { position: absolute; clip: rect(0,0,0,0); width: inherit !important;}
input[type="checkbox"] + label { width: inherit; }
input[type="checkbox"] + label::before { content: ''; display: inline-block; vertical-align: middle; width: 30px; height: 30px; margin-right: 10px; margin-top: -5px; border-radius: 8px; background: #ffffff; border:1px solid #D8D8D8; cursor: pointer; }
input[type="checkbox"]:checked + label::before { content: ''; background: url("/images/ico-check.png") no-repeat 50%; }
input[type="checkbox"]:focus + label::before { box-shadow: 0 0 0 2px #2699FB; }
input[type="checkbox"]:disabled + label::before { background: gray; box-shadow: none; color: #555; cursor: not-allowed; }



/* tab */
.tab-wrap .tabs { display: flex; justify-content: space-between; margin-top: 20px; width: 100%; }
.tab-wrap .tabs li { flex: 1; height: 83px; border-top: 1px solid #CDCDCD; border-left: 1px solid #CDCDCD; border-bottom: 1px solid #CDCDCD; background: #FAFAFA; font-weight: 200; font-size: 24px; line-height: 83px; text-align: center; cursor: pointer; }
.tab-wrap .tabs li:last-child { border-right: 1px solid #CDCDCD; }
.tab-wrap .tabs li.on { position: relative; background: #ffffff; border-bottom: none; color: #000000; }
.tab-wrap .tabs li.on:before { position: absolute; content: ''; display: block; width: 100%; height: 5px; top: 0px; left: 0px; background: -webkit-linear-gradient(90deg, rgb(41, 191, 255), rgb(40, 192, 203)); background: linear-gradient(90deg, rgb(41, 191, 255), rgb(40, 192, 203)); }
.tab-wrap .tabs li:first-child.on { border-left: 0; }
.tab-wrap .tabs li:last-child.on { border-right: 0; }
.tab-wrap .tab-content { display: none; }