@charset "utf-8";

/* NotoSans KR font */
@font-face {
  font-family: "NotoSans";
  font-weight: 100;
  font-style: normal;
  src: local('Noto Sans KR Thin'),
  url("/fonts/NotoSans-Thin.eot?") format("eot"),
  url("/fonts/NotoSans-Thin.woff") format("woff"),
  url("/fonts/NotoSans-Thin.woff2") format("woff2"),
  url("/fonts/NotoSans-Thin.otf") format("opentype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 200;
  font-style: normal;
  src: local('Noto Sans KR Light'),
  url("/fonts/NotoSans-Light.eot?") format("eot"),
  url("/fonts/NotoSans-Light.woff") format("woff"),
  url("/fonts/NotoSans-Light.woff2") format("woff2"),
  url("/fonts/NotoSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  font-style: normal;
  src: local('Noto Sans KR Regular'),
  url("/fonts/NotoSans-Regular.eot?") format("eot"),
  url("/fonts/NotoSans-Regular.woff") format("woff"),
  url("/fonts/NotoSans-Regular.woff2") format("woff2"),
  url("/fonts/NotoSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 600;
  font-style: normal;
  src: local('Noto Sans KR Medium'),
  url("/fonts/NotoSans-Medium.eot?") format("eot"),
  url("/fonts/NotoSans-Medium.woff") format("woff"),
  url("/fonts/NotoSans-Medium.woff2") format("woff2"),
  url("/fonts/NotoSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 800;
  font-style: normal;
  src: local('Noto Sans KR Bold'),
  url("/fonts/NotoSans-Bold.eot?") format("eot"),
  url("/fonts/NotoSans-Bold.woff") format("woff"),
  url("/fonts/NotoSans-Bold.woff2") format("woff2"),
  url("/fonts/NotoSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'NanumPen'; 
  font-style: normal; 
  font-weight: normal; 
  src: url('/fonts/nanumpen.eot'); 
  src: url('/fonts/nanumpen.eot?#iefix') format('embedded-opentype'),
       url('/fonts/nanumpen.woff2') format('woff2'), 
       url('/fonts/nanumpen.woff') format('woff');
}

/* reset */
*{margin:0; padding:0; box-sizing:border-box !important;}
html{width:100%; height:100%}
body{min-width:1840px; position:relative; font-family:"NotoSans",dotum,"돋움",gulim,"굴림",Arial,AppleGothic,verdana,sans-serif,helvetica; font-size:16px; color:#191919; letter-spacing:-0.6px; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -webkit-overflow-scrolling: touch;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0; word-break: break-all;word-wrap:break-word; }
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle}
input, select{padding:0 10px; vertical-align:middle; border:1px solid #cccccc; letter-spacing:-0.6px; border-radius:0; font-size:14px}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:0 5px;}
option {padding:5px;}
textarea{padding: 20px; border:1px solid #D8D8D8; border-radius: 8px; color:#A5A5A5; font-size: 24px; letter-spacing:-0.6px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
p {margin-bottom: 0px;}
a{text-decoration:none; color:inherit;}
a:hover, a:focus, a:active{text-decoration:none; }
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:14px; }
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
strong,b{ font-weight: 800; }


/* IR */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%} 
.ir_pm {display:block;overflow:hidden; text-indent:200%; white-space:nowrap }
.blind {display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

/* IE-type:control */
input[type="text"]::-ms-clear {
  display: none;
}